.navbar{
    display: flex;
    justify-content: space-between;
    
}
.awlad{
    margin-left: 50px;
}
.button1{
    margin-right: 50px;
}
.bannersec{
    background-image: url(./assets/Hero-bg.png);
    margin-top: 10px;
    /* height: 500px; */
     padding-top: 100px;
    
}
.bannerimg{
    display: flex;
    justify-content: center;
}
.write{
   
text-align: center;
}
.button2{
    text-align: center;
    display: flex;
    justify-content: center;
    /* justify-content: end; */
   margin-top: 125px;
   

}
.layer{
    display: flex;
    /* justify-content: space-between */
    margin-bottom:70px;
    gap: 100px;
}
.group3{
   margin-left: 170px;
   margin-top: 60px;
   
}
.write2{
    text-align: center;
    margin-top: 100px;

}
.box3{
    display: flex;
    justify-content: center;
    gap: 80px;
    
    margin-bottom: 80px;
   

}
.write3{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.box{
    background-color: rgb(234, 247, 247);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 20px;
}
    
.inspiration{
     text-align: center;
    margin-top: 70px;
    margin-bottom: 60px;

}
.video{
    
    text-align: center;
}
.last-grp{
    display: flex;
    margin-bottom:70px;
    gap: 100px;
    margin-left: 200px;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid black;
    margin-right: 240px;
   
}
.ntarget{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
 
}
.all-target{
    align-items: center;
}

.footer{
    background-image: url(./assets/handshake.jpg);
    
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 70px;
    margin-left: 200px;
    margin-right: 200px;
    /* height: auto; */
}



.lastone{
    display: flex;
    margin-top: 20px;
    background-color: rgb(246, 249, 249);
    margin-bottom: 50px;
    padding-left: 150px;
    padding-right: 250px;
    justify-content: space-between;
    padding-top: 30px;
    
}
.lastwrite{
    text-align: center;
    color: white;
    padding-top: 100px;
    gap:20px;
    

}
.submitbox{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-bottom: 30px;

    
}
input{
    width:200px;
    height:30px;
    border-radius: 10px;
}
.final-sub{
    width: 100px;
    height: 35px;
    border-radius: 10px;
}

